html, body, p {
    margin: 0;
  }

body {
    height: 100vh;
    background-image: url("../images/fresas.jpg");
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    height: 60%;
    padding: 5%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    color:white;
    box-sizing: border-box;
}

p {
    display: inline
}