{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'game/styles/home.css' %}">
</head>
<body>
    <div class="contenedor">
        <img src="{% static 'game/images/gatito1.png' %}" class="gatito arriba-izquierda">
        <img src="{% static 'game/images/gatito2.png' %}" class="gatito arriba-derecha">
        <img src="{% static 'game/images/gatito3.png' %}" class="gatito abajo-izquierda">
        <img src="{% static 'game/images/gatito4.png' %}" class="gatito abajo-derecha">

        <h1>Adivina el número romano</h1>
        <p class="romano">{{numero_romano}}</p>

        <form action="" method="POST">
            {% csrf_token %}
            <input type="number" name="respuesta" placeholder="Escribí tu respuesta" required autofocus>
            <button type="submit">Comprobar</button>
        </form>

        <div class="feedback">
            <p class="mensaje">{{mensaje}}</p>  
            <p class="ultimo-romano">{{ultimo_romano}} </p>
            <p class="ultima-respuesta">{{ultima_respuesta}}</p>
        </div>
        

        <div class="contador-respuestas">
            <p class="correctos">Correctos: {{correctos}}</p>
            <p class="incorrectos">Incorrectos: {{incorrectos}}</p>
        </div>
    </div>

    <details id="menu">
        <summary>Valores</summary>
        <ul>
            <li>I = 1</li>
            <li>V = 5</li>
            <li>X = 10</li>
            <li>L = 50</li>
            <li>C = 100</li>
            <li>D = 500</li>
            <li>M = 1000</li>
        </ul>
    </details>
    <script>
        const details = document.getElementById("menu");
      
        // restaurar estado
        if (localStorage.getItem("menuOpen") === "true") {
          details.open = true;
        }
      
        // guardar estado
        details.addEventListener("toggle", () => {
          localStorage.setItem("menuOpen", details.open);
        });
      </script>      
</body>
</html>